{% extends "base.html" %}
{% load static %}

{% block content %} 
<div class="container p-5">
	<div class="p-5 d-flex align-content-center flex-wrap">
		<div class="header-wrapper text-center container">
			<h2 class="title">Password reset</h2>
			<div class="line"></div>
		  </div>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<div class="password-reset">
	<form method="post">
		{% csrf_token %}
		{{form}}
		<input class="btn-submit mb-3" type="Submit" name="Send email">
	</form>
</div>
	</div>
</div>

{% endblock %}