{% extends "base.html" %} 
{% load static %} 

{% block content %}
<div class="container p-5">
  <div class="p-5 d-flex align-content-center flex-wrap">
    <div class="header-wrapper text-center container">
      <h2 class="title">Password reset sent</h2>
      <div class="line"></div>
    </div>

<div class="text-center1">
    <p>
        We’ve emailed you instructions for setting your password, if an account
        exists with the email you entered. You should receive them shortly.
      </p>
  
      <p class="mb-5 pb-5" >
        If you don’t receive an email, please make sure you’ve entered the address
        you registered with, and check your spam folder.
      </p>
</div>
  </div>
</div>

{% endblock %}
