{% extends "base.html" %} 
{% load static %} 
{% block title %} About us - Job Search Agency {% endblock %} 
{% block content %}



     <section class="section-background">
          <div class="container">
               <div class="row">
                    <div class="col-md-12">
                         <img src="{{abouts.image.url}}" class="img-responsive img-circle" alt="">
                    </div>

                    <div class="col-md-12">
                         <div class="about-info pt-2">
                              {{abouts.description|safe}}
                         </div>
                    </div>
               </div>
          </div>
     </section>

     {% endblock %}
