{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %} {{request.user.username}} - Job Search Agency {% endblock %}


{% block style_content %}

    <div id="employee-profile" class="container">
        <div class="tab-container">
            <ul class="container__list">
              <li class="container__item container__item_active">
                <a class="container__link">Profile</a>
              </li>
              <li class="container__item">
                <a class="container__link">Shared jobs</a>
              </li>
              <li class="container__item">
                <a class="container__link">CSS</a>
              </li>
              <li class="container__item">
                <a class="container__link">JavaScript</a>
              </li>
              <li class="container__item">
                <a class="container__link">Animation</a>
              </li>
            </ul>
            <div class="container__inner">
              <p class="content__description">
                <h2 class="title">Employer profile</h2>
                <div class="line"></div>
                <div class="employee-profile-section">
        
                    <div class="left">
                          {% if request.user.employer.company_logo %}
                            <img  class="user-img" src="{{request.user.employer.company_logo.url}}" alt="Company logo"/>
                            {% else %}
                            <img  class="user-img" src="{% static 'assets/images/companyLogo.jpg' %}" alt="Company logo"/>
                            {% endif %}
                        <a href="{% url 'password-change' %}" class="btn-submit">Change password</a>
                    </div>
        
                    <div class="right">
                        {% include 'messages/message.html' %} 
                        {% if form.errors or userForm.errors %}
                        <div class="myAlert alert-danger" role="alert">
                        {{form.errors}}
                        </div>
                        {% endif %} 
                        <h2>Personal information</h2>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-wrapper">
                                <div class="form-control-own">
                                    <label for="username">First name</label>
                                    {{userForm.first_name}}
                                </div>
                                <div class="form-control-own">
                                    <label for="username">First name</label>
                                    {{userForm.last_name}}
                                </div>
                            </div>
                            <div class="form-wrapper">
                                <div class="form-control-own">
                                    <label for="username">Username</label>
                                    {{userForm.username}}
                                </div>
                                <div class="form-control-own">
                                    <label for="email">Email</label>
                                    {{userForm.email}}
                                </div>
                            </div>
                            <div class="form-wrapper">
                                <div class="form-control-own">
                                    <label for="phoneNumber">Phone number</label>
                                    {{form.phonenumber}}
                                </div>
                                <div class="form-control-own">
                                    <label for="profession">Mobile number</label>
                                    {{form.mobilenumber}}
                                </div>
                            </div>
                            <div class="form-wrapper">
                                <div class="form-control-own">
                                    <label for="website">Website</label>
                                    {{form.website}}
                                </div>
                                <div class="form-control-own">
                                    <div class="form-group">
                                        <label for="country">Country</label>
                                        {{form.city}}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-wrapper">
                                <div class="form-control-own">
                                    <label for="profession">Company name</label>
                                    {{form.companyname}}
                                </div>
                            </div>
                            <div class="form-wrapper">
                                <div class="form-control-own">
                                    <label for="info">Company information</label>
                                    {{form.companyinfo}}
                                </div>
                            </div>
                            <div class="form-wrapper">
                                <div class="form-control-own upload-img">
                                    {{form.profile_pic}}
                                    <label>Photo</label>
                                    <label for="file1">
                                        <img src="https://cdn3.iconfinder.com/data/icons/iconic-1/32/plus_alt-256.png"
                                            class="upload-img default" alt="">
                                    </label>
                                </div>
                                <div class="form-control-own upload-img">
                                    {{form.company_logo}}
                                    <label>Company logo</label>
                                    <label for="file2">
                                        <img src="https://cdn3.iconfinder.com/data/icons/iconic-1/32/plus_alt-256.png"
                                            class="upload-img1 default" alt="">
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn-submit">
                                Update profile
                            </button>
                        </form>
                    </div>
        
                </div>
              </p>
            </div>
            <div class="container__inner container__inner_hidden">
              <p class="content__description">
                <h2 class="title">Shared jobs</h2>
                <div class="line"></div>
                <div class="panel1">
                    {% for job in jobs %}
                    <div class="panel-element">
                        <div class="element-actions">
                            <button class="btn1 btn-action btn-hide"><i class="fa fa-ban"></i></button>
                            <button class="btn1 btn-action btn-heart"><i class="fa fa-heart-o"></i></button>
                        </div>
                        
                        <div class="element-content">
                            <button class="btn1 btn-more">
                                <i class="fa fa-ellipsis-h icon-closed"></i>
                                <i class="fa fa-times icon-open"></i>
                                <i class="fa fa-heart-o icon-hearted"></i>
                            </button>
                            
                            <div class="content-post">
                                <div class="post-avatar">
                                    <img width="60" src="https://res.cloudinary.com/job-search-agency/image/upload/v1/images/companyLogo_gvh8fe" alt="">
                                </div>
                
                                <div class="post-content">
                                    <span class="post-title">{{job.jobtitle}}</span>
                                    <p class="post-body">Amet consectetur adipiscing elit vestibulum lacinia nibh id sem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
              </p>
            </div>
            <div class="container__inner container__inner_hidden">
              <h2 class="content__subtitle">CSS</h2>
              <p class="content__description">
                Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language such as HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.
              </p>
            </div>
            <div class="container__inner container__inner_hidden">
              <h2 class="content__subtitle">JavaScript</h2>
              <p class="content__description">
                JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript specification. JavaScript is high-level, often just-in-time compiled and multi-paradigm. It has dynamic typing, prototype-based object-orientation and first-class functions.
              </p>
            </div>
            <div class="container__inner container__inner_hidden">
              <h2 class="content__subtitle">Animation</h2>
              <p class="content__description">
                CSS animations make it possible to animate transitions from one CSS style configuration to another. Animations consist of two components, a style describing the CSS animation and a set of keyframes that indicate the start and end states of the animation’s style, as well as possible intermediate waypoints.
              </p>
            </div>
          </div>
       
    </div>


    </div>
    </div>
    {% endblock %}