{% extends '../base.html' %}
{% load static %}

{% block title %} Job Search Agency {% endblock %}
{% block content %}


     <!-- PRE LOADER -->
     <!-- <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section> -->
     {% include './load.html' %}



     <!-- HOME -->
     {% include 'messages/message.html' %}
     <section id="home">
          <div class="row">
               <div class="owl-carousel owl-theme home-slider">
                    <div class="item item-first">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-6 col-sm-12">
                                        <h1>Lorem ipsum dolor sit amet.</h1>
                                        <h3>Voluptas dignissimos esse, explicabo cum fugit eaque, perspiciatis quia ab
                                             nisi sapiente delectus eiet.</h3>
                                        <a href="{% url 'jobs' %}" class="section-btn btn btn-default">Browse Jobs</a>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="item item-second">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-6 col-sm-12">
                                        <h1>Distinctio explicabo vero animi culpa facere voluptatem.</h1>
                                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, excepturi.
                                        </h3>
                                        <a href="{% url 'jobs' %}" class="section-btn btn btn-default">Browse Jobs</a>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="item item-third">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-6 col-sm-12">
                                        <h1>Efficient Learning Methods</h1>
                                        <h3>Nam eget sapien vel nibh euismod vulputate in vel nibh. Quisque eu ex eu
                                             urna venenatis sollicitudin ut at libero.</h3>
                                        <a href="{% url 'jobs' %}" class="section-btn btn btn-default">Browse Jobs</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <main>
          <section>
               <div class="container">
                    <div class="row">
                         <div class="col-md-12 col-sm-12">
                              <div class="text-center">
                                   <h2>About us</h2>

                                   <br>

                                   <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
                                        molestias ipsa veritatis nihil iusto maiores natus dolor, a reiciendis corporis
                                        obcaecati ex. Totam assumenda impedit aut eum, illum distinctio saepe explicabo.
                                        Consequuntur molestiae similique id quos, quasi quas perferendis laboriosam,
                                        fugit natus odit totam! Id dolores saepe, sint debitis rerum dolorem tempora
                                        aliquid, pariatur enim nisi. Quia ab iusto assumenda.</p>
                              </div>
                         </div>
                    </div>
               </div>
          </section>

          <section>
               <div class="container">
                    <div class="row">
                         <div class="col-md-12 col-sm-12">
                              <div class="section-title text-center">
                                   <h2>Featured Jobs <small>Lorem ipsum dolor sit amet.</small></h2>
                              </div>
                         </div>
                         {% for lastjob in last_three_job %}
                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="{{lastjob.employer.company_logo.url}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Posted on"><i class="fa fa-calendar"></i> {{lastjob.create_at|date:"d M Y"}}</span>
                                             <span title="Location"><i class="fa fa-map-marker"></i> {{lastjob.country.name}}</span>
                                             <span title="Type"><i class="fa fa-file"></i> {{lastjob.type}}</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a href="{{lastjob.get_absolute_url}}">{{lastjob.jobtitle}}</a></h3>

                                        <p class="lead"><strong>${{lastjob.salary}}</strong></p>

                                        <p><strong>{{lastjob.jobcategory}}</strong></p>
                                   </div>

                                   <div class="courses-info">
                                        <a href="{{lastjob.get_absolute_url}}" class="section-btn btn btn-primary btn-block">View
                                             Details</a>
                                   </div>
                              </div>
                         </div>
                         {% endfor %}
                    </div>
               </div>
          </section>

          <section>
               <div class="container">
                    <div class="row">
                         <div class="col-md-12 col-sm-12">
                              <div class="section-title text-center">
                                   <h2>Latest Blog posts <small>Lorem ipsum dolor sit amet.</small></h2>
                              </div>
                         </div>
                         {% for feature in last_three %}
                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="{{feature.image.url}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Author"><i class="fa fa-user"></i> {{feature.author}}</span>
                                             <span title="Date"><i class="fa fa-calendar"></i> {{feature.created_date|date:"d M Y"}}</span>
                                             <span title="Views"><i class="fa fa-eye"></i> {{feature.view_count}}</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a href="{{ feature.get_absolute_url }}">{{feature.title}}</a></h3>
                                   </div>

                                   <div class="courses-info">
                                        <a href="{{ feature.get_absolute_url }}"
                                             class="section-btn btn btn-primary btn-block">Read More</a>
                                   </div>
                              </div>
                         </div>
                         {% endfor %}
                    </div>
               </div>
          </section>


          <section id="testimonial">
               <div class="container">
                    <div class="row">

                         <div class="col-md-12 col-sm-12">
                              <div class="section-title text-center">
                                   <h2>Testimonials <small>from around the world</small></h2>
                              </div>

                              <div class="owl-carousel owl-theme owl-client">
                                   {% for testimonial in testimonials %}
                                   <div class="col-md-4 col-sm-4">
                                        <div class="item">
                                             <div class="tst-image">
                                                  <img src="{{testimonial.image.url}}" class="img-responsive"
                                                       alt="">
                                             </div>
                                             <div class="tst-author">
                                                  <h4>{{testimonial.fullname}}</h4>
                                                  <span>{{testimonial.profession}}</span>
                                             </div>
                                             <p>{{testimonial.description|safe}}</p>
                                             <div class="tst-rating">
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                             </div>
                                        </div>
                                   </div>
                                   {% endfor %}
                              </div>
                         </div>
                    </div>
               </div>
          </section>

          <section id="subscribe">
     <!--Subscribe-->
               <div class="container">
                    <div class="row">
                         <div class="col-md-12 col-sm-12">
                              <div class="section-title text-center">
                                   <h2>Subscribe <small>Lorem ipsum dolor sit amet.</small></h2>
                              </div>
                         </div>
                         <div class="col-md-12 col-sm-12">
                              <div class="form-group">
                                   <form method="POST" class="subscribe-form">
                                     {% csrf_token %}
                                     <input
                                       type="email"
                                       class="form-control subscribe-email-input"
                                       placeholder="Enter your email"
                                       name="subscribemail"
                                       id="email1"
                                       required
                                     />
                                     <input
                                       type="submit"
                                       class="btn btn-submit form-control"
                                       name="submit"
                                       id="form-submit"
                                       value="Subscribe"
                                     />
                                   </form>
                                   <span><sup>*</sup> Please note - we do not spam your email.</span>
                                 </div>
                         </div>
                    </div>
               </div>
          </section>
     </main>



     {% endblock %}
