{% extends "base.html" %}
{% load static %}

{% block title %} Team - Job Search Agency {% endblock %}
{% block content %} 

     <section id="team" class="section-background fix-section">
          <div class="header-wrapper">
               <h2 class="title">Team</h2>
                <div class="line"></div>
          </div>
          <div class="container">
               <div class="row">
                    {% for team in teams %}
                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src="{{team.image.url}}" class="img-responsive" alt="{{team.fullname}}">
                              </div>
                              <div class="team-info">
                                   <h3>{{team.fullname}}</h3>
                                   <span>{{team.specialty}}</span>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="{{team.facebook}}" target="_blank" class="fab fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="{{team.twitter}}" target="_blank" class="fab fa-twitter"></a></li>
                                   <li><a href="{{team.linkedin}}" target="_blank" class="fab fa-linkedin"></a></li>
                              </ul>
                         </div>
                    </div>
                    {% endfor %}
               </div>
          </div>
          </section>
{% endblock %}