{% extends "base.html" %}
{% load static %}

{% block title %} Terms - Job Search Agency {% endblock %}
{% block content %} 


     <section class="section-background fix-section">
          <div class="container">
               <div class="header-wrapper">
                    <h2 class="title">Terms and conditions</h2>
                     <div class="line"></div>
               </div>
               <div class="about-info">
                    {% for term in terms %}
                    <h2>{{ term.title }}</h2>
                    {{term.description|safe}}
                    {% endfor %}
               </div>
          </div>
     </section>

     {% endblock %}