{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %} Add Job - Job Find Agency {% endblock %}

{% block content %}
<div class="pt-5">
    {% if messages %}
    {% for message in messages %}
<div class="alert alert-succes" role="alert">
{{message}}
</div>
    {% endfor %}		
{% endif %}

    <div class="col-4 offset-4 pt-5">
        <h3>{{title}} a JOB</h3>
        {{form.media}}
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>



{% endblock %}