{% extends 'base.html' %}
{% load static %}

{% block title %} Blogs - Job Find Agency {% endblock %}

{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Blog</h4>
                <h2>Our Recent Blog Posts</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Banner Ends Here -->

    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                {% for post in queryset %}
                <div class="col-lg-6">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{post.image.url}}" alt="">
                    </div>
                    <div class="down-content">
                      <a href="{{ post.get_absolute_url }}"><h4>{{post.title}}</h4></a>
                      
                      <p>{{post.overview|truncatechars:125}}</p>

                      <ul class="post-info">
                        <li>{{post.author }}</li>
                        <li>{{post.created_date|date:"d M Y"}}</li>
                        <li><i class="fa fa-comments" title="Comments"></i> {{post.comment_count}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <div class="col-lg-12">
                  <ul class="page-numbers">
                    {% if queryset.has_previous %} 
                    <li><a href="?{{ page_request_var }}={{ queryset.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a></li>
                    {% endif %}
                    <li class="active"><a href="?{{ page_request_var }}={{ queryset.number }}">{{ queryset.number }}</a></li>
                    {% if queryset.has_next %}
                    <li><a href="?{{ page_request_var }}={{ queryset.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" action="{% url 'search' %}">
                      <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Recent Posts</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for recent_post in recent_posts %}
                        <li><a href="{{ recent_post.get_absolute_url }}">
                          <h5>{{recent_post.title}}</h5>
                          <span>{{recent_post.created_date|date:"d M Y"}}</span>
                        </a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories ({{category_count}})</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for  category in categories %}
                        <li><a href="#">- {{category.title}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Tags ({{tag_count}})</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for tag in tags %}
                        <li>{{tag.title}}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
 {% endblock %}