{% extends 'base.html' %}
{% load static %}

{% block title %} {{request.user.username}} - Job Find Agency {% endblock %}


{% block style_content %}
<style>
  .predit {
      margin-top:-15rem;
  }
  @media only screen and (max-width: 980px) {
    .predit {
      margin-top:0;
  }
}
</style>
{% endblock %}

{% block content %}


<div class="container emp-profile pt-5">
    <form method="post" class="pt-5 mt-5" enctype="multipart/form-data">
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% else %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
          {% endfor %}		
          {% endif %}

        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{request.user.employer.profile_pic.url}}" alt="Profile Img"/>
                    <!-- {% if request.user.employer.profile_pic %}
                    <img src="{{request.user.employer.profile_pic.url}}" alt="Profile Img"/>
                    {% else %}
                    <img src="{% static 'assets/images/default.png' %}" alt="Profile Img"/>
                    {% endif %} -->
                    <!-- <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div> -->
                    <div class="change-password mt-5 mb-5">
                        <a style="width: 70%;" href="{% url 'password-change' %}" class="btn btn-primary">Change Password</a>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6" style="height: 15vh;">
                <div class="profile-head">
                            <h5>
                                {{request.user.employer.user.username}}[{{request.user.employer.user.get_full_name}}]
                            </h5>
                            <h6>
                                {{request.user.employer.companyname}}
                            </h6>
                            <!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p> -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a href="{% url 'employerProfileEdit' %}" class="btn btn-primary">Edit Profile</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                
            </div>
            <div class="col-md-8 predit">
                <div class="tab-content profile-tab">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Username</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{request.user.employer.user.username}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{request.user.employer.user.first_name}}  {{request.user.employer.user.last_name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{request.user.employer.user.email}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone number</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{request.user.employer.phonenumber}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Mobile number</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{request.user.employer.mobilenumber}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Website</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{request.user.employer.website}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Website</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{request.user.employer.website}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>City</label>
                                    </div>
                                    <div class="col-md-6">
                                       <p>{{request.user.employer.city}}</p> 
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Company Info</label>
                                    </div>
                                    <div class="col-md-6">
                                       <p>{{request.user.employer.companyinfo}}</p> 
                                    </div>
                                </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </form>           
</div>
{% endblock %}