    <!-- Header -->
    <header class="">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><h2>Job Find Agency<em>.</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li data-aos="flip-left" data-aos-delay="1000" class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i> Home
                    <span class="sr-only">(current)</span>
                  </a>
                </li> 
                <li data-aos="flip-left" data-aos-delay="1200" class="nav-item">
                  <a class="nav-link" href="{% url 'jobs' %}"><i class="fas fa-file"></i> Jobs</a>
                </li>
                {% if request.user.is_superuser or request.user.is_employer %}
                <li data-aos="flip-left" data-aos-delay="1400" class="nav-item">
                  <a class="nav-link" href="{% url 'job-create' %}"><i class="fas fa-plus"></i> Add Job</a>
                </li>
                {% endif %}
                <li data-aos="flip-left" data-aos-delay="1600" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-address-card"></i> About</a>
                    
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'about-us' %}">About Us</a>
                      <a class="dropdown-item" href="{% url 'teams' %}">Team</a>
                      <a class="dropdown-item" href="{% url 'blog' %}">Blog</a>
                      <a class="dropdown-item" href="{% url 'testimonials' %}">Testimonials</a>
                      <a class="dropdown-item" href="{% url 'terms' %}">Terms</a>
                      {% if request.user.is_superuser  %}
                      <a class="dropdown-item" href="{% url 'blog-create' %}">Create Blog</a>
                      <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                      {% endif %}


                    </div>
                </li>
                <li data-aos="flip-left" data-aos-delay="1800" class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}"><i class="fas fa-envelope"></i> Contact Us</a>
                </li>
                
                {% if user.is_authenticated %}
                <li class="nav-item">
                  {% if user.is_user %}
                  <a class="nav-link" title="User Account" href="{% url 'userProfile' %}">{{request.user}}</a>
                  {% endif %}
                  {% if user.is_employer %}
                  <a class="nav-link" title="Employer Account" href="{% url 'employerProfile' %}">{{request.user}}</a>
                  {% endif %}
                </li>
                <li class="nav-item">
                  <a class="nav-link btn btn-primary" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
                
                {% else %}
                <li data-aos="flip-left" data-aos-delay="1700" class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Login</a>
                </li>
                <li data-aos="flip-left" data-aos-delay="1750" class="nav-item">
                  <a class="nav-link" href="{% url 'registerType' %}"><i class="fas fa-caret-right"></i> Register</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </header>