{% extends 'base.html' %}
{% load static %}

{% block title %} {{request.user.username}} - Job Find Agency {% endblock %}

{% block style_content %}
<style>
  .predit {
      margin-top:-15rem;
  }
  @media only screen and (max-width: 980px) {
    .predit {
      margin-top:0;
  }
}
</style>
{% endblock %}
{% block content %}


<div class="container emp-profile pt-5">
    <form method="post" class="pt-5 mt-5" enctype="multipart/form-data">
        {% include 'messages/message.html' %} 

        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    {% if request.user.author.profile_pic  %}
                    <img src="{{request.user.author.profile_pic.url}}" alt=""/>
                    {% else %}
                    <img src="{% static 'assets/images/default.png' %}" alt=""/>
                    {% endif %}
                    <!-- <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div> -->
                    <div class="change-password mt-5 mb-5">
                        <a style="width: 70%;" href="{% url 'password-change' %}" class="btn btn-primary">Change Password</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                {{request.user.author.name}} [{{request.user.author.get_full_name}}]
                            </h5>
                            <h6>
                                {{request.user.author.profession}}
                            </h6>
                            <!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p> -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a href="{% url 'userProfileEdit' %}" class="btn btn-primary">Edit Profile</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                
            </div>
            <div class="col-md-8 predit">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{request.user.author.user.username}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{request.user.author.name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{request.user.author.user.email}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{request.user.author.phonenumber}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Profession</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{request.user.author.profession}}</p>
                                    </div>
                                </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </form>           
</div>
{% endblock %}