{% extends "base.html" %}
{% load static %}

{% block title %} 404 Page - Job Search Agency {% endblock %}
{% block content %} 
<section id="contact" class="fix-section">
  <div class="header-wrapper">
    <h2 class="title title-contact">Contact</h2>
     <div class="line"></div>
 </div>
  <div class="container">
    <div class="row">
      <div class="row text-center">
        <h1>404 Page</h1>
        <h3>Sorry, we dont have so this page</h3>
        <a href="{% url 'home' %}">Home</a>
      </div>
    </div>
  </div>
</section>


  
{% endblock %}

