{% extends "base.html" %}
{% load static %}

{% block title %} 500 Error page {% endblock %}
{% block content %} 

<section id="contact" class="fix-section">
  <div class="header-wrapper">
    <h2 class="title title-contact">Contact</h2>
     <div class="line"></div>
 </div>
  <div class="container">
    <div class="row">
      <div class="row text-center">
        <h1>500 Page</h1>
        <h3>Sorry, there are some problem with Server.Try again</h3>
        <a href="{% url 'home' %}">Home</a>
      </div>
    </div>
  </div>
</section>
  
{% endblock %}

